In [2]:
# !pip install pandas

Collecting pandas
  Downloading pandas-1.0.1-cp37-cp37m-manylinux1_x86_64.whl (10.1 MB)
     |████████████████████████████████| 10.1 MB 592 kB/s eta 0:00:01
Collecting numpy>=1.13.3
  Using cached numpy-1.18.1-cp37-cp37m-manylinux1_x86_64.whl (20.1 MB)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/kimdooh/.pyenv/versions/3.7.5/envs/miniproject2025-env/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /home/kimdooh/.pyenv/versions/3.7.5/envs/miniproject2025-env/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: six>=1.5 in /home/kimdooh/.pyenv/versions/3.7.5/envs/miniproject2025-env/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.18.1 pandas-1.0.1

In [6]:
import pandas as pd

In [7]:
# games_scores2019 = pd.read_csv('2019_games_scores.csv')
opens_scores2019 = pd.read_csv('2019_opens_scores.csv')

In [8]:
# games_athletes2019 = pd.read_csv('2019_games_athletes.csv')
opens_athletes2019 = pd.read_csv('2019_opens_athletes.csv')

/home/kimdooh/.pyenv/versions/3.7.5/envs/miniproject2025-env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
extract_opens_scores2019= opens_scores2019[['competitorid','breakdown','rank','scaled','score','scoredisplay','scoreidentifier','time']]

In [10]:
extract_opens_athletes2019 = opens_athletes2019[['competitorid','competitorname','gender','profilepics3key','divisionid','age','height', 'weight','overallscore','division']]

In [11]:
# merge_data = pd.merge(opens_athletes2019, opens_scores2019)

In [12]:
# merge_data

In [17]:
# 총 57만명
extract_opens_athletes2019

,competitorid,competitorname,gender,profilepics3key,divisionid,age,height,weight,overallscore,division
0,2536,Samantha Briggs,F,0e63d-P2536_14-184.jpg,19,37,1.70,61.23,33,Women (35-39)
1,485089,Renata Pimentel,F,04e97-P485089_5-184.jpg,19,36,1.74,73.00,66,Women (35-39)
2,16973,Carleen Mathews,F,b663a-P16973_6-184.jpg,19,35,1.57,62.14,101,Women (35-39)
3,751083,Danila Capaccetti,F,pukie.png,19,35,1.70,71.00,139,Women (35-39)
4,313257,Hope Cicero,F,f204b-P313257_1-184.jpg,19,36,1.55,61.23,176,Women (35-39)
...,...,...,...,...,...,...,...,...,...,...
572648,546539,Jean Lyon,F,c824f-P546539_1-184.jpg,4,49,NaN,NaN,11216,Women (45-49)
572649,1531656,Lynnell Aoki,F,pukie.png,4,48,NaN,NaN,11224,Women (45-49)
572650,1338870,Lissa Samudio,F,2d09b-P1338870_1-184.jpg,4,45,NaN,NaN,11224,Women (45-49)
572651,1172138,Darlene Rushing,F,07e0e-P1172138_1-184.jpg,4,49,1.70,70.31,11227,Women (45-49)
572652,550423,Jenna Jones,F,13b53-P550423_1-184.jpg,4,47,1.70,NaN,11228,Women (45-49)

In [14]:
# 남자들 기록만 30만명
Men_opens_athletes2019= extract_opens_athletes2019[extract_opens_athletes2019['gender'] == 'M']

In [16]:
test_extraction = Men_opens_athletes2019.reset_index(drop=True)
test_extraction

,competitorid,competitorname,gender,profilepics3key,divisionid,age,height,weight,overallscore,division
0,8747,Bill Grundler,M,71e65-P8747_2-184.jpg,5,50,1.83,88.45,66,Men (50-54)
1,297488,Gregg Geerdes,M,761d1-P297488_2-184.jpg,5,50,1.83,86.18,86,Men (50-54)
2,721301,Kevin Koester,M,d8676-P721301_2-184.jpg,5,52,1.73,77.11,90,Men (50-54)
3,61510,Brian Montgomery,M,08d6a-P61510_3-184.jpg,5,52,1.75,80.74,108,Men (50-54)
4,300498,Christian Biagi,M,762f8-P300498_1-184.jpg,5,51,1.78,88.45,184,Men (50-54)
...,...,...,...,...,...,...,...,...,...,...
317226,1273283,Chris Zuck,M,pukie.png,18,35,NaN,NaN,10486,Men (35-39)
317227,949522,Gilfred Pereira,M,3c6e9-P949522_1-184.jpg,18,36,1.75,75.00,10490,Men (35-39)
317228,1382679,Neal Moore,M,pukie.png,18,35,NaN,NaN,10492,Men (35-39)
317229,1597634,Rich Reiner Jr.,M,pukie.png,18,37,NaN,NaN,10499,Men (35-39)
317230,1653979,Carlos Maximiliano,M,9837b-P1653979_1-184.jpg,18,38,NaN,NaN,10501,Men (35-39)

In [34]:
extract_opens_athletes2019

,competitorid,competitorname,gender,profilepics3key,divisionid,age,height,weight,overallscore,division
0,2536,Samantha Briggs,F,0e63d-P2536_14-184.jpg,19,37,1.70,61.23,33,Women (35-39)
1,485089,Renata Pimentel,F,04e97-P485089_5-184.jpg,19,36,1.74,73.00,66,Women (35-39)
2,16973,Carleen Mathews,F,b663a-P16973_6-184.jpg,19,35,1.57,62.14,101,Women (35-39)
3,751083,Danila Capaccetti,F,pukie.png,19,35,1.70,71.00,139,Women (35-39)
4,313257,Hope Cicero,F,f204b-P313257_1-184.jpg,19,36,1.55,61.23,176,Women (35-39)
...,...,...,...,...,...,...,...,...,...,...
572648,546539,Jean Lyon,F,c824f-P546539_1-184.jpg,4,49,NaN,NaN,11216,Women (45-49)
572649,1531656,Lynnell Aoki,F,pukie.png,4,48,NaN,NaN,11224,Women (45-49)
572650,1338870,Lissa Samudio,F,2d09b-P1338870_1-184.jpg,4,45,NaN,NaN,11224,Women (45-49)
572651,1172138,Darlene Rushing,F,07e0e-P1172138_1-184.jpg,4,49,1.70,70.31,11227,Women (45-49)
572652,550423,Jenna Jones,F,13b53-P550423_1-184.jpg,4,47,1.70,NaN,11228,Women (45-49)

In [33]:
len(extract_opens_athletes2019['competitorid'].unique())

355418

In [21]:
list_workout = extract_opens_scores2019['breakdown'].unique()
len(list_workout)

116913

In [38]:
opengame_athletes_score2019 = pd.merge(extract_opens_athletes2019,games_scores2019 , on='competitorid')

In [45]:
opengame_athletes_score2019 = opengame_athletes_score2019.set_index("competitorid")

In [46]:
opengame_athletes_score2019.to_csv("opengame_athletes_score2019_20200313.csv", mode='a', header=True)

In [35]:
# Men_extract_opens_scores2019= extract_opens_athletes2019[extract_opens_athletes2019['gender'] == 'M']

In [36]:
# score_extract_opens_scores2019 = extract_opens_scores2019[extract_opens_scores2019['score'] != 0]

In [37]:
# for i in range(100):
#     print(list_workout[i])
#     print('------------------------------------------')